@use '@sass/variables'
@use '@sass/fonts'

.sections
  & > *:not(:first-child)
    @media screen and ( min-width: variables.$breakpoint-lg )
      border-bottom: 1px solid black

.section-split
  display: flex
  flex-direction: column
  @media screen and ( min-width: variables.$breakpoint-lg )
    flex-direction: row
  & > *
    width: 100%
    @media screen and ( min-width: variables.$breakpoint-lg )
      width: 50%

  & > *:not(:first-child)
    // border-top: 1px solid black
    @media screen and ( min-width: variables.$breakpoint-lg )
      border-top: none
      border-left: 1px solid black

  &-auto
    & > *
      padding: 0 2rem
      display: flex
      justify-content: center
      align-items: center
      height: auto
  &-min
    flex-shrink: 1

.section
  padding: 4.5rem

  &.empty
    display: none
    @media screen and ( min-width: variables.$breakpoint-lg )
      display: block

  &.image
    .caption
      margin: 2rem 0 0 0
      font-size: 1.4rem
      font-style: italic
      &-xl
        margin: 2rem 0
        text-transform: uppercase
        font-size: 3rem

    img
      width: 100%
      height: auto

  &.prose
    &.paragraph
      p
        margin: 1.6rem 0
        font-size: 1.6rem
        line-height: 2.2

      a
        color: black

      ul
        margin: 1.6rem 0
        li
          margin: 1.6rem 0
          font-size: 1.6rem
          line-height: 2.2

$accent-red: #ed672c

::selection
  background: $accent-red
  color: black
